<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto topics-form-container">
      <h2 class="h2">スレッド編集</h2>
      <%= form_with(url: update_topics_path, model: @topic, local: true, method: :topic, html: { class: 'topic-form' }) do |f| %>
        <% if @topic.errors.any? %>
          <ul>
            <% @topic.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %> 
          </ul>
        <% end %>

        <div class="form-group">
          <%= f.label "タイトル", class: 'form-label' %>
          <%= f.text_field :title, value: @topic.title, class: 'form-control' %>
        </div>

        <div class="button-group">
           <%= link_to '削除', destroy_topics_path(@topic), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
           <%= f.submit '更新', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>