<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto topics-form-container">
      <h2 class="h2">スレッド編集</h2>
      <%= form_with(url: update_topics_path, model: @topic, local: true, method: :topic, html: { class: 'topic-form' }) do |f| %>
        <% if @topic.errors.any? %>
          <ul>
            <% @topic.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %> 
          </ul>
        <% end %>

        <div class="form-group">
          <%= f.label "タイトル", class: 'form-label' %>
          <%= f.text_field :title, value: @topic.title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label "本文", class: 'form-label' %>
          <%= f.text_area :body, value: @topic.body, class: 'form-control' %>
        </div>

        <div class="form-group image-upload">
          <%= f.label "画像", class: 'form-label' %>
          <div class="image-preview" id="imagePreview">
            <img src="<%= @topic.image.attached? ? url_for(@topic.image) : "" %>" alt="Image Preview" class="image-preview__image <%= @topic.image.attached? ? "-block" : "" %>">
            <span class="image-preview__default-text <%= @topic.image.attached? ? "-none" : "" %>">No image uploaded</span>
          </div>
          <%= f.file_field :image, class: 'form-control-file', id: 'imageUpload' %>
        </div>

        <div class="button-group">
           <%= link_to '削除', destroy_topics_path(@topic), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
           <%= f.submit '更新', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>