<div>
  <h1>スレッド一覧</h1>
  <div class="search-container">
    <%= form_with url: index_topics_path, class: "form", method: :get, local: true do |form| %>
      <input class="input" type="text" name="title" placeholder="タイトルで検索" value="<%= params[:title] %>">
      <%= form.submit "検索", class: "button" %>
    <% end %>
  </div>
  
  <div class="topic-list">
    <% @topics.each do |topic| %>
      <div class="topic">
        <div class="header">
          <h2 class="title"><%= topic.title %></h2>
          <p class="timestamp"><%= topic.created_at.strftime("%B %d, %Y") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>